/**
* {
  padding: 0;
  margin: 0;
}
**/

body {
  font: normal 16px arial, helvetica, sans-serif;
  margin: 0;
  background-color: #f4f4f4;
  /*color: #555555;*/
  line-height: 1.6em;
  font-size: 16px;
}
#top-bar {
  /* Free shipping */
  display: flex;
  position: inherit;
  justify-content: center;
  height: 60px;
  background-color: #4d715c;
}
#top-bar h3 {
  /* Free shipping */
  color: #ffffff;
}
#header {
  /*This is for the promotional box. */
  display: flex;
  align-items: center;
  margin-left: 40px;
}
#header h1 {
  font: 100 3em arial;
  color: #0b0b0b;
}
/* COME BACK TO THIS. */
.hamburger-icon {
  font-size: 50px;
  color: #000000;
  font-weight: 100;
}
.menu {
  display: none;
}
#logo-image {
  width: 100px;
  height: 80px;
}
/* COME BACK TO THIS. */
.promo-box {
  width: 100em;
  height: 400px; /*background-image: url("../ideas.png");*/
  background-color: #4d715c;
  position: relative;
  left: 500px;
  background-image: url();
}
.container-btn {
  position: initial;
  left: 50%;
  background-color: #0b0b0b;
  border: 2px solid;
  color: #ffffff;
}
/* COME BACK TO THIS */

#intro {
  display: flex;
  justify-content: center;
  gap: 90px;
  margin: 20px;
}
#intro-textbox {
  display: flex;
  max-width: 90ch;
  max-height: 90%;
  position: relative;
  left: 20px;
  top: 80px;
  margin-left: 10px;
}

.fruit-img {
  /* Image at the top.*/
  max-width: 100%;
  max-width: 40%;
  border-radius: 15px;
}
.subscribe-btn {
  position: fixed;
  top: 900px;
  background-color: #000000;
  color: #ffffff;
  padding: 10px;
}
