/**
* {
  padding: 0;
  margin: 0;
}
**/

body {
  font: normal 16px arial, helvetica, sans-serif;
  margin: 0;
  background-color: #f4f4f4;
  /*color: #555555;*/
  line-height: 1.6em;
  font-size: 16px;
}
#top-bar {
  /* Free shipping */
  display: flex;
  position: inherit;
  justify-content: center;
  height: 60px;
  background-color: #4d715c;
}
#top-bar h3 {
  /* Free shipping */
  color: #ffffff;
}

/* 
//
//
The beginning of the HEADER tag */
#header {
  display: flex;
  align-items: center;
  margin-left: 40px;
}

#header h1 {
  font: 100 2.5em arial;
  color: #0b0b0b;
}

#logo-image {
  width: 100px;
  height: 80px;
}

.fruit-img {
  max-width: 100%;
  max-width: 40%;
  border-radius: 15px;
}

strong {
  color: rgb(223, 226, 43);
}
.nav-bar {
  display: flex;
  padding-left: 650px;
}
.nav-bar li {
  list-style: none;
  font-size: 1.5em;
}

.nav-bar:hover {
  cursor: pointer;
}
.cart {
  display: flex;
  justify-items: space-around;
  border: none;
  width: 3em;
  height: 3em;
}
/* The end of the HEADER tag */

/* The beginning of the MAIN section tag. */
.subscribe-btn {
  position: fixed;
  top: 900px;
  background-color: #000000;
  color: #ffffff;
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.subscribe-btn:hover {
  background-color: #343232;
}
.clr {
  clear: both;
}
.top-section {
  display: flex;
  justify-content: center;
}

.promo-box {
  width: 2050px;
  height: 800px;
  background-image: url(https://cdn.shopify.com/s/files/1/0513/3428/3424/files/pineapple_guava.jpg?v=1694698442);
  background-repeat: no-repeat;
  background-color: #4d715c;
  position: relative;
  object-fit: cover;
}
/*
https://cdn.shopify.com/s/files/1/0513/3428/3424/files/pineapple_guava.jpg?v=1694698442
*/

.container-btn {
  position: absolute;
  bottom: 20px;
  left: 950px;
  background-color: #0b0b0b;
  border: 2px solid;
  padding: 10px 40px 10px 40px;
  color: #ffffff;
}
.container-btn:hover {
  background-color: #343232;
  cursor: pointer;
}
main {
  display: flex;
  justify-content: center;
}
.delivery-info {
  float: left;
  width: 30%;
  border: 1px solid #ccc;
  padding: 10px;
  margin-top: 50px;
  text-align: center;
  box-sizing: border-box;
}
.icon {
  width: 40px;
  height: 40px;
}
/* The beginning of the MAIN section tag. */

.sub-header {
  text-align: center;
  padding: 100px;
}
.sub-header p {
  /* COME BACK TO THHIS. */
  font-size: 1em;
}

.section {
  display: flex;
  justify-content: center;
}
.inventory {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.inventory-img {
  width: 400px;
  height: 400px;
  border: 1px solid #000000;
  display: flex;
  justify-content: flex-start;
}
.add-to-cart {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.decrese-btn .counter .increase-btn {
  display: flex;
  margin-left: 500px;
}

.side {
  float: left;
  width: 30%;
  border: 1px solid #ccc;
  padding: 10px;
  margin-top: 50px;
  text-align: center;
  box-sizing: border-box;
}

footer {
  margin-top: 100px;
  height: 400px;
  background-color: #4d715c;
  padding-left: 40px;
  display: flex;
  border: 1px solid;
}

footer .social-icons {
  width: 10%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  flex-direction: row wrap;
  position: relative;
  top: 200px;
}
footer p {
  position: relative;
  top: 200px;
  font-size: 1em;
  width: 30ch;
  color: #f4f4f4;
}
.registered {
  text-align: center;
}
