/**
* {
  padding: 0;
  margin: 0;
}
**/

body {
  font: normal 16px arial, helvetica, sans-serif;
  margin: 0;
  background-color: #f4f4f4;
  /*color: #555555;*/
  line-height: 1.6em;
  font-size: 16px;
}
#box {
  /* Free shipping */
  display: flex;
  position: inherit;
  justify-content: center;
  height: 60px;
  background-color: #4d715c;
}
#box h3 {
  /* Free shipping */
  color: #ffffff;
}
#header {
  /*This is for the promotional box. */
  display: flex;
  align-items: center;
  margin-left: 40px;
}
#header h1 {
  font: 100 3em arial;
  color: #0b0b0b;
}
/* COME BACK TO THIS. */
.hamburger-icon {
  font-size: 50px;
  color: #000000;
  font-weight: 100;
}
.menu {
  display: none;
}
#logo-image {
  width: 100px;
  height: 80px;
}
/* COME BACK TO THIS. */

.promo-container {
  width: 100em;
  height: 250px; /*background-image: url("../ideas.png");*/
  background-color: #4d715c;
}
.promo-container h2 {
  display: flex;
  justify-content: center;
}
#intro {
  display: flex;
  justify-content: center;
  gap: 90px;
  margin: 20px;
}
#intro-textbox {
  display: flex;
  max-width: 90ch;
  max-height: 90%;
  position: relative;
  left: 20px;
  top: 80px;
}

.fruit-img {
  /* Image at the top.*/
  max-width: 100%;
  max-width: 40%;
  border-radius: 15px;
}
.container {
  width: 500px;
  margin: auto;
}

.box-1 {
  background-color: rgb(231, 234, 191);
  color: #000000;
  border-bottom: 5px rgb(0.255) solid;
  border-bottom-width: 10px;
  word-spacing: 0.5em;
  max-width: 90%;
}
.box-2 {
  border: 3px solid #ccc;
  border-radius: 15px;
  padding: 20px;
  padding: 20px;
}
.categories {
  margin-top: 25px;
  border: 1px #ccc solid;
  padding: 10px;
  border-radius: 15px;
}
.categories h2 {
  text-align: center;
}
.categories ul {
  padding: 0;
  padding-left: 15px;
  list-style: square;
}

a {
  text-decoration: none;
  color: #000000;
}
a:hover,
a:visited {
  color: rgb(230, 237, 237);
}
.my-form {
  padding: 20px;
}
.my-form,
.form-group {
  padding-bottom: 15px;
}
.my-form label {
  display: block;
}
.my-form input[type="text"],
.my-form textarea {
  padding: 8px;
  width: 100%;
}
.clr {
  clear: both;
}
.block {
  float: left;
  width: 33.3%;
  border: 1px solid #ccc;
  padding: 10px;
  box-sizing: border-box;
}

#main-block {
  float: left;
  width: 70%;
}
#sidebar {
  float: right;
  width: 30%;
}

.categories li {
  padding-bottom: 6px;
  border-bottom: dotted 1px #333;
}

.subscribe-btn {
  position: fixed;
  top: 900px;
  background-color: #000000;
  color: #ffffff;
  padding: 10px;
}

@media (max-width: 800px) {
  #main-block {
    width: 100%;
    float: none;
  }
  .block {
    width: 100%;
    float: none;
  }
}
